@font-face {
  font-family: "Rye";
  src: url("./assets/font/Rye/Rye-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  font-family: "Rye", serif;
  /* background: linear-gradient(to bottom, #87ceeb, #c8a97e); */
  background-image: url("./assets/svg/Gemini_Generated_Image_vkctsfvkctsfvkct (3).png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  margin-top: 160px;
  font-size: 48px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

button {
  cursor: pointer;
}

canvas {
  background-color: black;
  width: 720px;
  height: 480px;
  box-shadow: o 8px 32px rgba(245, 214, 214, 0.6);
  border-radius: 8px;
}

#fullscreen {
  position: relative;
}

#screen-game-over,
#screen-you-win {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 480px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}